body {
  font-family: "Nunito", sans-serif !important;
  background: #f3f3f3;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: #2a2a72;
}

.text-bright {
  color: #009ffd;
}

.text-gray {
  color: #505050;
}

.text-light-gray {
  color: #a0a0a0;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: #343a40;
  border: 0.1rem solid #343a40 !important;
}

.btn-black:hover {
  background: #343a40 !important;
  color: white !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: #ffa400;
}
